body {
    font-family: 'Kalam' !important;
    background-color: #262626 !important;
}

section {
    background-image: url('../img/cook3668751920V2.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: auto;
    height: 100vh;
}

p {
    color: white;
}

.img-brand {
    height: 65px;
    width: auto;
}

.align-im-sl {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.h-80 {
    height: 80%;
}

.margin-b-t {
    margin-top: 30px;
    margin-bottom: 40px;
}

.size-xxl {
    font-size: 80px;
}

.size-xl {
    font-size: 50px;
}

.size-l {
    font-size: 40px;
}

.size-m {
    font-size: 30px;
}

.size-s {
    font-size: 20px;
}

.size-xs {
    font-size: 18px;
}

.img-desc {
    height: 150px;
    width: auto;
}

.testAnimate {
    opacity: 0;
}

.text-pos-right {
    margin-left: 70vh;
}